.hidden {
  display: none;
  visibility: hidden;
}

body {
  padding:15px;
  background-color: #AD8D9A;
}
.jumbotron {
  text-align: center;
  background-color: pink;
}
#startUp {
  display: block;
  width: auto;
  text-align: center;

}
.framework {
  outline-style: double;
  outline-color: green;
  outline-width: thick;
  height: 750px;
}
.row {
  height: 40%;
}
.col-md-6 {
  display: block;
  align-content: center;
  width: auto;
  text-align: center;
  background-color: #944975;
}
